<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Balay Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/main/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/main/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/main/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/main/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/main/owl.carousel.min.css">
	<link rel="stylesheet" href="css/main/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/main/style.css">

	<link rel="stylesheet" href="css/header.css">

	<link rel="stylesheet" href="css/font.css">



	<script src="https://kit.fontawesome.com/8591377d67.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://kit.fontawesome.com/8591377d67.css" crossorigin="anonymous">

	<!-- script
    ================================================== -->
	<script src="js/modernizr.js"></script>

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
	</style>
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

</head>
<style>
	btn:hover{
		background-color: yellow;
	}


</style>


<style>
	h1, h2, h3, h4, h5, h6, span, p, a, label, input, textarea, button {
		font-family: 'Gowun Dodum', sans-serif !important;
		font-size: large !important;
		letter-spacing: 0rem; !important;
	}
</style>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/modal.css">

<style th:replace="mouse.html :: style"></style>
<body>
<div id="colorlib-page">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>

	<header th:replace="sider.html :: header" style="font-family: 'Gowun Dodum', sans-serif; !important;"></header>


	<div id="colorlib-main">
		<aside id="colorlib-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
					<li style="background-image: url(images/4.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
									<div class="slider-text-inner">
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/3.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
									<div class="slider-text-inner">
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
									<div class="slider-text-inner">
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
									<div class="slider-text-inner">
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/2.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
									<div class="slider-text-inner">
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div class="colorlib-about">
			<div class="colorlib-narrow-content">
				<div class="row">
					<div class="col-md-6">
						<div class="about-img animate-box" data-animate-effect="fadeInLeft" style="background-image: url(images/grapy.jpg);">
						</div>
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="about-desc">
							<span class="heading-meta">Welcome</span>
							<h2 class="colorlib-heading">웹페이지 소개</h2>
							<p>여러분들의 상상을 펼칠 수 있는 공간입니다.</p>
							<p>그림, 문학, 음악 등 다양한 카테고리를 사용하여 자신의 매력을 펼쳐보세요.</p>
						</div>
						<div class="row padding">
							<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
								<a href="#" class="steps active">
									<p class="icon"><span><i class="icon-check"></i></span></p>
									<h3>2023.01.13 <br>서비스 시작</h3>
								</a>
							</div>
							<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
								<a href="#" class="steps">
									<p class="icon"><span><i class="icon-check"></i></span></p>
									<h3>2023.02 ~ <br>멤버쉽 서비스 시작</h3>
								</a>
							</div>
							<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
								<a href="#" class="steps">
									<p class="icon"><span><i class="icon-check"></i></span></p>
									<h3>5개의 카테고리<br>운영중</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-services">
			<div class="colorlib-narrow-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="colorlib-heading"></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="fa-solid fa-palette"></i>
									</div>
									<div class="colorlib-text">
										<h3>그림</h3>
										<p>자신이 그린 그림을 올려보세요. 다양한 그림 방식을 활용하여 당신의 매력을 발산하세요.</p>
									</div>
								</div>

								<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="fa-solid fa-headphones"></i>
									</div>
									<div class="colorlib-text">
										<h3>음악</h3>
										<p>랩, 발라드 등 여러가지 음악 장르를 활용하여 여러분들의 재능을 발산하세요.</p>
									</div>
								</div>									<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="fa-solid fa-hat-cowboy"></i>
								</div>
								<div class="colorlib-text">
									<h3>패션</h3>
									<p>패션감각을 뽐낼 수 있는 기회입니다. 자신만의 패션감각을 활용하여 사람들과 공유 해보세요.</p>
								</div>
							</div>

								<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="fa-solid fa-marker"></i>
									</div>
									<div class="colorlib-text">
										<h3>문학</h3>
										<p>문학적인 감각이 뛰어난 당신. 작성한 소설 등을 활용하여 사람들과 공유하고 판매 해보세요.</p>
									</div>
								</div>

								<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="fa-solid fa-wrench"></i>
									</div>
									<div class="colorlib-text">
										<h3>DIY</h3>
										<p>손재주가 뛰어나시군요! 손재주를 활용하여 여러분들의 작품을 공유하세요.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<a href="DRA007?category=그림" class="services-wrap animate-box" data-animate-effect="fadeInRight">
									<div class="services-img" style="background-image: url(images/2.jpg)"></div>
									<div class="desc">
										<h3>그림</h3>
									</div>
								</a>
								<a href="MUS003?category=음악" class="services-wrap animate-box" data-animate-effect="fadeInRight">
									<div class="services-img" style="background-image: url(images/4.jpg)"></div>
									<div class="desc">
										<h3>음악</h3>
									</div>
								</a>
								<a href="DRA007?category=패션" class="services-wrap animate-box" data-animate-effect="fadeInRight">
									<div class="services-img" style="background-image: url(images/5.jpg)"></div>
									<div class="desc">
										<h3>패션</h3>
									</div>
								</a>
							</div>
							<div class="col-md-6 move-bottom">
								<a href="DRA007?category=문학" class="services-wrap animate-box" data-animate-effect="fadeInRight">
									<div class="services-img" style="background-image: url(images/3.jpg)"></div>
									<div class="desc">
										<h3>문학</h3>
									</div>
								</a>
								<a href="DRA007?category=DIY" class="services-wrap animate-box" data-animate-effect="fadeInRight">
									<div class="services-img" style="background-image: url(images/1.jpg)"></div>
									<div class="desc">
										<h3>DIY</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="colorlib-narrow-content">
				<div class="row">
				</div>
				<div class="row">
					<div class="col-md-3 text-center animate-box">
						<span class="icon"><i class="fa-solid fa-list"></i></span>
						<div id="index1"></div>
						<span class="colorlib-counter-label">게시글 수</span>
					</div>
					<div class="col-md-3 text-center animate-box">
						<span class="icon"><i class="fa-solid fa-user"></i></span>
						<div id="index2"></div>
						<span class="colorlib-counter-label">회원 수</span>
					</div>
					<div class="col-md-3 text-center animate-box">
						<span class="icon"><i class="fa-solid fa-tags"></i></span>
						<div id="index3"></div>
						<span class="colorlib-counter-label">상품 수</span>
					</div>
					<div class="col-md-3 text-center animate-box">
						<span class="icon"><i class="fa-regular fa-square-check"></i></span>
						<div id="index4"></div>
						<span class="colorlib-counter-label">멤버쉽 가입 회원 수</span>
					</div>
				</div>
			</div>
		</div>
		<div id="get-in-touch" class="colorlib-bg-color">
			<div class="colorlib-narrow-content">
				<div class="row">
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
						<p class="colorlib-lead">모든 것을 즐길 준비 되셨나요? 회원이 아니시라면 회원가입 후 다양한 서비스를 이용하세요!</p>
						<p><a href="MemJoinLogin" class="btn btn-primary btn-learn" style="background-color: white; color: black">회원가입 이동!</a></p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Sticky Kit -->
<script src="js/sticky-kit.min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>

<script src="js/modal.js"></script>


<!-- MAIN JS -->
<script src="js/main.js"></script>
<script>



	$.ajax({
		type: 'post',
		url : 'indexAddObject',
		data:{
		},
		dataType: "json",
		success:
				function(result){
					console.log(result)
					let output1 = "<span class=\"colorlib-counter js-counter\" data-from=\"0\" data-to='"+result.boardNum+"' data-speed=\"5000\" data-refresh-interval=\"50\"></span>";
					document.getElementById("index1").innerHTML = output1;
					console.log(output1);
					let output2 = "<span class=\"colorlib-counter js-counter\" data-from=\"0\" data-to='"+result.memberNum+"' data-speed=\"5000\" data-refresh-interval=\"50\"></span>";
					document.getElementById("index2").innerHTML = output2;
					console.log(output2);
					let output3 = "<span class=\"colorlib-counter js-counter\" data-from=\"0\" data-to='"+result.productNum+"' data-speed=\"5000\" data-refresh-interval=\"50\"></span>";
					document.getElementById("index3").innerHTML = output3;
					console.log(output3);
					let output4 = "<span class=\"colorlib-counter js-counter\" data-from=\"0\" data-to='"+result.memberGradeNum+"' data-speed=\"5000\" data-refresh-interval=\"50\"></span>";
					document.getElementById("index4").innerHTML = output4;
					console.log(output4);
				},
		error:function (){
			alert('통신 실패')
		}
	})

	$(document).ready(function(){
		$('#title').focus();
		$('#text').autosize();
	})

</script>
</body>
</html>

